.ChatPageBack {
  position: absolute;
  width: 387px;
  height: 630px;
  left: 0px;
  top: 108px;

  background: #50a1a3;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  z-index: 30;

  .ChatPageHeader {
    height: 50px;

    .ChatPageHeaderBtn {
      position: absolute;
      top: 20px;
      left: 10px;
      display: inline-block;
      height: 20px;
      width: 20px;
      background: url("../../../../assets/images/left-arrow.png");
      background-size: cover;
      cursor: pointer;
    }

    .ChatPageHeaderName {
      position: absolute;
      top: 20px;
      left: 70px;
      display: inline-block;
      height: 40px;
      font-size: 20px;
    }
  }

  .ChatPageContent {
    position: absolute;
    width: 387px;
    height: 573px;
    left: 0px;
    top: 58px;

    background: #e1f1f2;
    border-radius: 30px;

    .ChatPageDialogue {
      position: absolute;
      width: 387px;
      top: 30px;
      .ChatPageDialogueMe {
        margin: 10px;
        height: 60px;
        .ChatPageDialogueContent {
          position: absolute;
          display: inline-block;
          right: 80px;
          padding: 10px;

          background: #50a1a3;
          border-radius: 30px;
        }

        .ChatPageProfilePicture {
          position: absolute;
          display: inline-block;
          width: 50px;
          height: 50px;
          right: 20px;

          background: url("../../../../assets/images/leeseunggi.jpg");
          background-size: cover;
        }
      }

      .ChatPageDialogueYou {
        margin: 10px;
        height: 60px;
        .ChatPageDialogueContent {
          position: absolute;
          display: inline-block;
          left: 80px;

          padding: 10px;

          background: #f1f5f5;
          border-radius: 30px;
        }

        .ChatPageProfilePicture {
          position: absolute;
          display: inline-block;
          width: 50px;
          height: 50px;
          left: 20px;

          background: url("../../../../assets/images/hanhyoju.jpg");
          background-size: cover;
        }
      }
    }

    .ChatPageInputDiv {
      position: absolute;
      width: 387px;
      height: 90px;
      top: 482px;

      background: #ffffff;
      border-radius: 30px;

      .ChatPageInput {
        box-sizing: border-box;

        position: absolute;
        width: 370px;
        height: 58px;
        top: 16px;
        left: 7px;

        background: #ffffff;
        border: 1px solid #50a1a3;
        border-radius: 30px;

        .ChatPageInputMessage {
          position: absolute;
          width: 280px;
          height: 35px;
          left: 15px;
          top: 10px;
          outline: none;
        }

        .ChatPageInputButton {
          position: absolute;
          width: 35px;
          height: 35px;
          top: 10px;
          right: 15px;

          background: url("../../../../assets/images/free-icon-paper-plane-149446.png");
          background-size: cover;
          cursor: pointer;
        }
      }
    }
  }
}
