.SIModalWrap {
  // position: absolute;
  // width: 1533px;
  // height: 753px;
  // left: 0px;
  // top: -1.5px;

  // background: rgba(125, 123, 123, 0.54);
  // z-index: 20;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: block;

  background: rgba(57, 57, 57, 0.54);
  z-index: 20;
}
