.SPModal {
  position: absolute;
  width: 453px;
  height: 510px;
  left: 493.5px;
  top: 149.25px;
  background: #ffffff;
  border-radius: 30px;
  z-index: 30;
}
.SPModal .SPModalHeader {
  position: absolute;
  width: 453px;
  height: 75px;
  left: 0px;
  top: 0.5px;
  background: #e1f1f2;
  border-radius: 30px 30px 0px 0px;
}
.SPModal .SPModalHeader .SPModalHeaderText {
  position: absolute;
  width: 250px;
  height: 35px;
  left: 125px;
  top: 20.25px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #50a1a3;
}
.SPModal .SPModalInputIdDiv {
  position: absolute;
  width: 330px;
  height: 88px;
  left: 66px;
  top: 107.5px;
}
.SPModal .SPModalInputIdDiv .SPModalInputIdLabel {
  position: absolute;
  width: 330px;
  height: 18px;
  left: 0px;
  top: 0px;
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #000000;
}
.SPModal .SPModalInputIdDiv .SPModalInputId {
  position: absolute;
  width: 330px;
  height: 56.25px;
  left: 0px;
  top: 31.5px;
  background: #e1f1f2;
  border-radius: 7.5px;
}
.SPModal .SPModalInputEmailDiv {
  position: absolute;
  width: 330px;
  height: 88px;
  left: 66px;
  top: 215px;
}
.SPModal .SPModalInputEmailDiv .SPModalInputEmailLabel {
  position: absolute;
  width: 47px;
  height: 18px;
  left: 0px;
  top: 1.5px;
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #000000;
}
.SPModal .SPModalInputEmailDiv .SPModalInputEmail {
  position: absolute;
  width: 330px;
  height: 56.25px;
  left: 0px;
  top: 31.5px;
  background: #e1f1f2;
  border-radius: 10px;
}
.SPModal .SPConfirmBtn {
  position: absolute;
  width: 330px;
  height: 56.25px;
  left: 65.25px;
  top: 335.25px;
  background: #50a1a3;
  border-radius: 10px;
}
.SPModal .SPConfirmBtn .SPConfirmBtnText {
  position: absolute;
  width: 230px;
  height: 18px;
  left: 64.5px;
  top: 19.5px;
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.SPModal .SPCancleBtn {
  position: absolute;
  width: 330px;
  height: 56.25px;
  left: 64.5px;
  top: 400.5px;
  background: #e1f1f2;
  border-radius: 10px;
}
.SPModal .SPCancleBtn .SPCancleBtnText {
  position: absolute;
  width: 30px;
  height: 18px;
  left: 150.75px;
  top: 19.5px;
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #50a1a3;
} /*# sourceMappingURL=searchPw.css.map */
