@use "../../style/common" as mixin;

.MIbackbtn {
  position: absolute;
  width: 75px;
  height: 50px;
  left: 5%;
  top: 5%;
  font-weight: 400;
  font-size: 43px;
  line-height: 88px;
  /* identical to box height */
  align-items: center;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .MIbackbtn {
    font-size: 32px;
    line-height: 64px;
  }
}
.MIImgDiv {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 16%;
  top: 16%;

  background-size: 100% 100%;

  .MIImgBack {
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: url(../../assets/images/woman.jpg);
    background-size: 100% 100%;
    border-radius: 70%;
  }
  .MIImg {
    position: absolute;
    width: 500px;
    height: 500px;
    background-size: 100% 100%;
    border-radius: 70%;
  }
  .MIUserImg {
    position: absolute;
    width: 500px;
    height: 500px;
    background-size: 100% 100%;
    border-radius: 70%;

    // :opacity: 0.3;
  }
}

.MIHashTag {
  position: absolute;
  width: 190px;
  height: 55px;
  left: 5%;
  top: 20%;

  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  /* identical to box height */

  // display: flex;
  align-items: center;

  color: #ffffff;
}
.MIHashSet {
  position: absolute;
  width: 135px;
  height: 50px;
  left: 6.5%;
  top: 28%;
  // margin-top: 5%;
  background: #ffffff;

  border: 1.5px dashed #50a1a3;
  border-radius: 30px;
  cursor: pointer;

  .MIHashSetIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 19px;
    top: 15px;
    background: url(../../assets/images/plus.png);
    background-size: 100% 100%;
  }

  .MIHashSetText {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 25px;
    top: -4px;

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    // display: flex;
    align-items: center;
    text-align: center;
    color: #50a1a3;
  }
}

.MINameAgeDiv {
  position: absolute;
  width: 400px;
  height: 100px;
  left: 5%;
  bottom: 10%;

  .MIName {
    position: absolute;
    width: 400px;
    height: 55px;
    left: 0px;
    bottom: 0px;
    margin-left: 20;

    font-weight: 400px;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */

    // display: flex;
    align-items: center;
    text-align: left;

    color: #ffffff;
  }
  .MIAge {
    position: absolute;
    width: 40px;
    height: 50px;
    left: 0%;
    bottom: 50px;

    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */

    // display: flex;

    text-align: center;

    color: #ffffff;
  }
}

.MIEdit {
  position: absolute;
  width: 300px;
  height: 55px;
  bottom: 80px;
  right: 5%;
  bottom: 10%;
  font-weight: 400px;
  font-size: 40px;
  line-height: 55px;
  // display: flex;
  align-items: center;
  text-align: right;
  justify-content: end;
  color: #ffffff;
  cursor: pointer;
}

.MIIntroducingDiv {
  position: absolute;
  width: 270px;
  height: 300px;
  right: 5%;
  top: 250px;

  .MIIntroducingTitle {
    position: absolute;
    width: 230px;
    height: 55px;
    left: 15px;
    top: 0px;

    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */

    // display: flex;
    align-items: center;
    text-align: right;

    color: #ffffff;
  }
  .MIIntroducingText {
    position: absolute;
    width: 300px;
    height: 270px;
    left: 0px;
    top: 70px;

    font-weight: 400px;
    font-size: 30px;
    line-height: 35x;
    // display: flex;
    text-align: left;
    color: #ffffff;
    justify-content: center;
  }
}

.MIProfileLogo {
  position: absolute;
  width: 160px;
  height: 80px;
  right: 5%;
  top: 5%;

  font-weight: 400;
  font-size: 60px;
  line-height: 90px;

  // display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #ffffff;
}

// ---------

.DarkBlurDiv {
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0.5;
  z-index: 10;
  background-color: black;
}

// showHash
.showint {
  position: absolute;
  width: 145px;
  height: 500px;
  left: 6.3%;
  top: 26.5%;
  // margin-top: 5%;
  // background: #ffffff;
  display: inline-block;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  white-space: nowrap;
  cursor: pointer;

  .showintdiv {
    position: relative;
    width: 145px;
    height: 55px;
    border-radius: 30px;
    background-color: #50a1a3;
    margin-top: 10px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .showintbox {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 25px;
    top: -4px;

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    // display: flex;
    align-items: center;
    text-align: center;
    color: #50a1a3;
  }
  :hover {
    background-color: #68bbbd;
    color: white;
  }
}
