@use "../../style/common" as mixin;

// 기본변수 설정
$_subFrameLeft: 3;

.SubFrame {
  @include mixin.sf;
  @media (max-height: 799px) {
    .SubLeftDiv {
      position: absolute;
      width: 530px;
      height: 400px;
      left: 5%;
      bottom: 10%;

      .SubLeftTitle {
        position: absolute;
        width: 370px;
        height: 180px;
        left: 0px;
        top: 35px;

        font-style: normal;
        font-weight: 400;
        font-size: 75px;
        line-height: 90px;
        text-align: left;

        color: #ffffff;
      }
      .SubLeftDesc {
        position: absolute;
        width: 376px;
        height: 36px;
        left: 0px;
        top: 220px;

        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;

        color: #ffffff;
      }

      .CommBoxFrame1 {
        position: absolute;
        width: 525px;
        height: 90px;
        left: 0px;
        bottom: 0px;

        background: #50a1a3;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        border-radius: 15px;

        .CommBoxFrameStart {
          position: absolute;
          width: 110px;
          height: 50px;
          left: 208px;
          top: 20px;

          font-style: normal;
          font-weight: 400;
          font-size: 41px;
          line-height: 50px;

          color: #ffffff;
        }
      }
    }

    .SubRightDiv {
      position: absolute;
      width: 530px;
      height: 400px;
      right: 5%;
      bottom: 10%;

      background: rgba(250, 234, 234, 0.2);
      border-radius: 30px;

      .SubRightImg {
        position: absolute;
        left: 25px;
        right: 25px;
        top: 25px;
        bottom: 25px;

        background-image: url(../../assets/images/SubRightImg.jpg);
        background-size: 100% 100%;

        border-radius: 30px;
      }
    }
  }
  @media (min-height: 800px) {
    .SubLeftDiv {
      position: absolute;
      width: 530px;
      left: 5%;
      top: 10%;
      bottom: 10%;

      .SubLeftTitle {
        position: absolute;
        width: 500px;
        height: 300px;
        left: 0px;
        top: 50px;

        font-style: normal;
        font-weight: 400;
        font-size: 100px;
        line-height: 120px;
        text-align: left;

        color: #ffffff;
      }
      .SubLeftDesc {
        position: absolute;
        width: 376px;
        height: 36px;
        left: 0px;
        top: 300px;

        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;

        color: #ffffff;
      }

      .CommBoxFrame1 {
        position: absolute;
        width: 525px;
        height: 90px;
        left: 0px;
        bottom: 0px;

        background: #50a1a3;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        border-radius: 15px;

        .CommBoxFrameStart {
          position: absolute;
          width: 110px;
          height: 50px;
          left: 208px;
          top: 20px;

          font-style: normal;
          font-weight: 400;
          font-size: 41px;
          line-height: 50px;

          color: #ffffff;
        }
      }
    }

    .SubRightDiv {
      position: absolute;
      width: 530px;
      right: 5%;
      top: 10%;
      bottom: 10%;

      background: rgba(250, 234, 234, 0.2);
      border-radius: 30px;

      .SubRightImg {
        position: absolute;
        left: 25px;
        right: 25px;
        top: 25px;
        bottom: 25px;

        background-image: url(../../assets/images/SubRightImg.jpg);
        background-size: 100% 100%;

        border-radius: 30px;
      }
    }
  }
}
