.SIModal {
  position: absolute;
  width: 460.5px;
  height: 615px;
  left: 490.5px;
  top: 94.5px;

  background: #ffffff;
  border-radius: 30px;
  z-index: 30;

  .SIModalHeader {
    position: absolute;
    width: 460.5px;
    height: 75px;
    left: 0px;
    top: 0px;

    background: #e1f1f2;
    border-radius: 30px 30px 0px 0px;

    .SIModalHeaderText {
      position: absolute;
      height: 39px;
      left: 0px;
      right: 0px;
      top: 19.5px;

      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 39px;
      text-align: center;
      color: #50a1a3;
    }
  }

  .ModalInputIdDiv {
    position: absolute;
    width: 330px;
    height: 87.75px;
    left: 66px;
    top: 107.25px;

    .ModalInputIdLabel {
      position: absolute;
      width: 330px;
      height: 18px;
      left: 0px;
      top: 0px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #000000;
    }

    .ModalInputId {
      position: absolute;
      width: 330px;
      height: 56.25px;
      left: 0px;
      top: 31.5px;

      background: #e1f1f2;
      border-radius: 7.5px;
    }
  }

  .ModalInputPwDiv {
    position: absolute;
    width: 330px;
    height: 86.25px;
    left: 65.25px;
    top: 206.25px;

    .ModalInputPwLabel {
      position: absolute;
      width: 23px;
      height: 18px;
      left: 0.75px;
      top: 0px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #000000;
    }

    .ModalInputPw {
      position: absolute;
      width: 330px;
      height: 56.25px;
      left: 0px;
      top: 30px;

      background: #e1f1f2;
      border-radius: 7.5px;
    }
  }

  .LoginBtnDiv {
    position: absolute;
    width: 330.75px;
    height: 78.75px;
    left: 65.25px;
    top: 324.75px;

    .LoginBtn {
      position: absolute;
      width: 330px;
      height: 56.25px;
      left: 0px;
      top: 0px;

      background: #50a1a3;
      border-radius: 7.5px;
    }

    .IdSaveDiv {
      position: absolute;
      width: 81px;
      height: 15px;
      left: 0.75px;
      top: 63.75px;

      .IdSaveToggle {
        position: absolute;
        width: 15px;
        height: 15px;
        left: 0px;
        top: 0px;

        background: #d9d9d9;
      }

      .IdSaveText {
        position: absolute;
        width: 65px;
        height: 14px;
        left: 22.5px;
        top: 0.75px;

        font-family: "Happy Monkey";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #8b8b8b;
      }
    }

    .SISignUpBtn {
      position: absolute;
      width: 65px;
      height: 14px;
      left: 180px;
      top: 64.5px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #8b8b8b;
      background-color: #ffffff;
    }

    .SISearchingPwBtn {
      position: absolute;
      width: 87px;
      height: 14px;
      left: 245px;
      top: 64.5px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #8b8b8b;
      background-color: #ffffff;
    }
  }

  .KakaoLoginBtn {
    position: absolute;
    width: 330px;
    height: 56.25px;
    left: 65.25px;
    top: 441px;

    background: #fee500;
    border-radius: 7.5px;
  }

  .NaverLoginBtn {
    position: absolute;
    width: 330px;
    height: 56.25px;
    left: 66px;
    top: 512.25px;

    background: #00ca51;
    border-radius: 7.5px;
  }
}
