.MeetingIn {
  text-align: center;
  display: flex; /*내부 요소들이 차례로 배치 */
  justify-content: center; /*내부 요소의 좌우 정렬 상태를 가운데로 설정*/
  position: absolute;
  left: 65px;
  right: 65px;
  top: 170px;
  bottom: 30px;
}
.tempBackDiv {
  position: absolute;
  display: none;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  z-index: 0;
}
.MProgressBar {
  position: absolute;
  width: 1326px;
  height: 17px;
  left: 57px;
  top: 112x;

  border-radius: 30px;
}
.MLeftDiv1 {
  position: absolute;
  width: 450px;
  height: 550px;
  left: 130px;
  top: 0px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  .ImotionDiv {
    position: absolute;
    height: 45px;
    left: 10px;
    right: 10px;
    top: 0px;
    opacity: 0;

    background: #faeaea33;
    border-radius: 37.5px;
    display: flex;
    align-items: center;
    justify-self: center;
    z-index: 1;

    .Imotion1 {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 5px;
      left: 140px;

      background-image: url(../../../assets/images/tongue.png);
      background-size: 100% 100%;
      cursor: pointer;
      z-index: 1;
    }

    .Imotion2 {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 5px;
      left: 80px;

      background-image: url(../../../assets/images/nervous.png);
      background-size: 100% 100%;
      cursor: pointer;
      z-index: 1;
    }

    .Imotion3 {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 5px;
      left: 20px;

      background-image: url(../../../assets/images/surprised.png);
      background-size: 100% 100%;
      cursor: pointer;
      z-index: 1;
    }

    .Imotion4 {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 5px;
      left: 255px;

      background-image: url(../../../assets/images/balloon.png);
      background-size: 100% 100%;
      cursor: pointer;
      z-index: 1;
    }

    .Imotion5 {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 5px;
      left: 315px;

      background-image: url(../../../assets/images/heart.png);
      background-size: 100% 100%;
      cursor: pointer;
      z-index: 1;
    }

    .Imotion6 {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 7px;
      left: 375px;

      background-image: url(../../../assets/images/clover.png);
      background-size: 100% 100%;
      cursor: pointer;
      z-index: 1;
    }

    &.clickSmileChangeDiv {
      z-index: 1;

      animation: smileDivMoving 1s 0s linear forwards; /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
    }
    &.basicSmileChangeDiv {
      z-index: 1;

      animation: smileDivUnMoving 1s 0s linear forwards; /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
    }
  }

  .ImotionBtn {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    left: 210px;

    background-image: url(../../../assets/images/happy.png);
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 1;
  }
  .MMyCamDiv {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 60px;

    border-radius: 30px;
    background-image: url(../../../assets/images/HomeCamImg.png);
    background-size: 100% 100%;
    z-index: 1;
  }
  .MMyCamSubDiv {
    position: absolute;
    width: 450px;
    height: 44px;
    bottom: 0px;
    .MMyCamSubText {
      position: absolute;
      width: 138px;
      height: 44px;
      left: 0px;
      top: 0px;

      font-weight: 400;
      font-size: 24px;
      line-height: 44px;

      text-transform: capitalize;
      color: #50a1a3;
    }
    .MMyCamSubBtnsDiv {
      position: absolute;
      width: 176px;
      height: 44px;
      top: 0px;
      right: 0px;
      z-index: 1;

      .MMyCamSubCamSettingBtn {
        position: absolute;
        width: 26px;
        height: 26px;
        left: 0px;
        top: 8px;

        background-image: url(../../../assets/images/setting.png);
        background-size: 100% 100%;
        cursor: pointer;
      }

      .MMyCamSubCamToggleBtn {
        position: absolute;
        width: 26px;
        height: 26px;
        left: 52px;
        top: 8px;

        cursor: pointer;

        &.camOff {
          background-image: url(../../../assets/images/camOn.png);
          background-size: 100% 100%;
        }
        &.camOn {
          background-image: url(../../../assets/images/camOff.png);
          background-size: 100% 100%;
        }
      }

      .MMyCamSubMicBtn {
        position: absolute;
        width: 35px;
        height: 28px;
        left: 96px;
        top: 8px;

        cursor: pointer;

        &.micOff {
          background-image: url(../../../assets/images/micOn.png);
          background-size: 100% 100%;
        }
        &.micOn {
          background-image: url(../../../assets/images/micOff.png);
          background-size: 100% 100%;
        }
      }

      .MMyCamSubSoundBtn {
        position: absolute;
        width: 26px;
        height: 22px;
        left: 145px;
        top: 10px;

        cursor: pointer;

        &.soundOff {
          background-image: url(../../../assets/images/soundOn.png);
          background-size: 100% 100%;
        }
        &.soundOn {
          background-image: url(../../../assets/images/soundOff.png);
          background-size: 100% 100%;
        }
      }
      .MMyCamSubSoundDesc {
        position: absolute;
        width: 100px;
        height: 25px;
        top: 45px;
        left: 107px;

        .MMyCamSubSoundDescTop {
          position: absolute;
          width: 0;
          height: 0;
          left: 36px;
          top: -18px;
          border-bottom: 10px solid transparent;
          border-top: 10px solid transparent;
          border-left: 15px solid rgb(81, 161, 163);
          border-right: 15px solid transparent;
          transform: rotate(-90deg);
          z-index: 1;
        }
        .MMyCamSubSoundDescMain {
          position: absolute;
          width: 100px;
          height: 25px;
          left: 0px;
          top: 0px;
          background-color: rgb(81, 161, 163);

          z-index: 2;
          border-radius: 30px;
          cursor: auto;
        }
        .range-slider {
          -webkit-appearance: none;
          position: absolute;
          top: -118px;
          left: 10px;
          right: 10px;
          // max-width: 30em;
          margin: 8em auto;
          display: flex;
          z-index: 5;

          .slider {
            -webkit-appearance: none; // 기본 CSS 스타일을 적용하지 않기 위해
            width: 100%; // 슬라이더 길이
            height: 0.3em; //         높이
            outline: none; //         테두리 제거
            border-radius: 3px; //         사각 테두리 둥글게
            background-color: #eaf6f6; //         색상

            /*
              ㅁ 슬라이더 핸들(클릭해서 드래그하는 부분)
              Chrome, Opera, Safari, Edge 브라우저를 다루기 위해선 -webkit-
              Firefox의 경우 -moz- 사용
            */
            &::-webkit-slider-thumb {
              -webkit-appearance: none; // 기본 CSS 스타일을 적용하지 않기 위해
              appearance: none; // 위와 동일
              width: 15px; // 슬라이더핸들 길이
              height: 15px; // 슬라이더핸들 높이
              background-color: rgba(168, 222, 223, 1);
              border-radius: 50%;
              cursor: pointer;
              z-index: 6;
            }
          }
          .progressSlider {
            position: absolute;
            width: 100%;
            height: 0.4em;
            border-radius: 3px;
            background-color: #a8dedf;
            top: 2px;
            transform: translateY(-50%);
            left: 0;
            z-index: 1;
            pointer-events: none;
          }
        }
      }
    }
  }
}
.MCenterDiv1 {
  position: absolute;
  left: 400px;
  right: 400px;
  top: 220px;
  bottom: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  .MCenterCloseBtnDiv {
    position: absolute;
    height: 40px;
    left: 230px;
    right: 230px;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff1f1;
    border: 3px solid #50a1a3;
    border-radius: 15px;
    color: #50a1a3;
    cursor: pointer;
    z-index: 0;

    &:hover {
      background-color: #50a1a3;
      color: #fff1f1;
    }

    .MCenterCloseBtnText {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;

      font-size: 22px;
      line-height: 40px;
    }
  }
}
.MRightDiv1 {
  position: absolute;
  width: 450px;
  height: 550px;
  top: 0px;
  right: 130px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  z-index: 1;

  .lightTagsDiv {
    position: absolute;
    height: 45px;
    left: 10px;
    right: 10px;
    top: 0px;
    opacity: 0;

    background: #faeaea33;
    border-radius: 37.5px;
    display: flex;
    align-items: center;
    justify-self: center;
    &.clickLightChangeDiv {
      animation: lightDivMoving 1s 0.5s linear forwards; /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/

      span:nth-child(n) {
        opacity: 1;
        margin: 10px;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
      }
      span:nth-child(1) {
        padding-left: 85px;
      }
    }
    &.basicLightChangeDiv {
      animation: lightDivUnMoving 0.5s 0s linear forwards; /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/

      span:nth-child(n) {
        opacity: 0;
      }
    }
  }

  .lightTagBtn {
    position: absolute;
    width: 37.5px;
    height: 37.5px;
    top: 0px;
    left: 210px;

    background-image: url(../../../assets/images/lightbulbOff.png);
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 2;

    &.clickLight {
      background-image: url(../../../assets/images/lightbulb.png);

      animation: moving 1s 0s linear forwards; /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
    }
    &.basicLight {
      animation: unMoving 1s 0s linear forwards; /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
    }
  }

  .blurEffect {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 60px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(37.5px);
    border-radius: 30px;
    z-index: 1;
  }

  .MPartenerCamDiv {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 60px;
    border-radius: 30px;

    background-image: url(../../../assets/images/MPartenerCamDiv.png);
    background-size: 100% 100%;
  }
}

.MPartenerCamSubDiv {
  position: absolute;
  width: 450px;
  height: 44px;
  bottom: 0px;

  .MPartenerCamSubText {
    position: absolute;
    width: 200px;
    height: 44px;
    left: 0px;
    top: 0px;

    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
    color: #50a1a3;
  }

  .MPartenerCamSubBtnsDiv {
    position: absolute;
    width: 120px;
    height: 44px;
    left: 325px;
    top: 0px;

    .MPartenerCamSubBlockBtn {
      position: absolute;
      width: 26px;
      height: 26px;
      left: 0px;
      top: 8px;

      background-image: url(../../../assets/images/emergency.png);
      background-size: 100% 100%;
      cursor: pointer;
    }

    .MPartenerCamSubMicBtn {
      position: absolute;
      width: 15px;
      height: 26px;
      left: 52px;
      top: 8px;

      background-image: url(../../../assets/images/micOn.png);
      background-size: 100% 100%;
      cursor: pointer;
    }

    .MPartenerCamSubSoundBtn {
      position: absolute;
      width: 26px;
      height: 22px;
      left: 93px;
      top: 10px;

      background-image: url(../../../assets/images/soundOn.png);
      background-size: 100% 100%;
      cursor: pointer;
    }
  }
}
@keyframes moving {
  0% {
    left: 210px;
  }

  50% {
    left: 105px;
  }

  75% {
    left: 52.5px;
  }

  100% {
    left: 40px;
  }
}
@keyframes unMoving {
  0% {
    left: 40px;
  }

  50% {
    left: 120px;
  }

  75% {
    left: 180px;
  }

  100% {
    left: 210px;
  }
}
@keyframes lightDivMoving {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
@keyframes lightDivUnMoving {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}
@keyframes smileDivMoving {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
@keyframes smileDivUnMoving {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}
.MeetingIn a,
.MeetingIn a:link,
.MeetingIn a:visited {
  text-decoration: none;
  color: #50a1a3;
}
.MeetingIn a:hover {
  color: #fff;
}

// .MMyCamSubSoundDescBar {
//   width: 100px;
// }
