.Hash {
  position: absolute;
  width: 700px;
  height: 600px;
  left: 27%;
  top: 80px;
  z-index: 20;
  background: rgba(255, 255, 255, 0.864);
  border-radius: 30px;
}
.Hash .hashSerchDiv {
  position: absolute;
  width: 580px;
  height: 55px;
  left: 70px;
  top: 20px;
}
.Hash .hashSerchDiv .inputdodbogi {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 40px;
  top: 15px;
  background-image: url(../../../assets/images/reading\ glasses.png);
  background-size: 100% 100%;
  border-radius: 70%;
}
.Hash .hashSerchDiv .hashinput {
  position: absolute;
  width: 400px;
  height: 54px;
  left: 80px;
  top: 0px;
  background: none;
  font-size: 25px;
  border-style: none;
  border: 0px;
  align-items: center;
}
.Hash .hashSerchDiv .hashVec {
  position: absolute;
  width: 500px;
  height: 0px;
  left: 20px;
  top: 54px;
  border: 3px solid #68bbbd;
}

.searchintbox {
  position: absolute;
  left: 50px;
  top: 150px;
  z-index: 32;
  border-radius: 40px;
}
.searchintbox .searchdiv {
  position: relative;
  width: 500px;
  top: -230px;
  z-index: 100;
  left: 0px;
  background-color: rgba(192, 192, 192, 0.951);
  color: #50a1a3;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: scroll;
}
.searchintbox .searchdiv .searchbox {
  position: relative;
  width: 110px;
  height: 60px;
  top: 10px;
  padding-left: 5px;
  margin-left: 5px;
  left: 10px;
  justify-content: center;
  float: left;
}
.searchintbox .searchdiv .searchbox .searchback {
  position: absolute;
  width: 100px;
  height: 40px;
  background: rgba(255, 255, 255, 0.742);
  border-radius: 40px;
  justify-content: center;
  font-weight: 400px;
  font-size: 17px;
  line-height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #68bbbd;
}
.searchintbox .searchdiv .searchbox .changesearchback {
  position: absolute;
  width: 100px;
  height: 40px;
  background: rgba(13, 124, 124, 0.2);
  border-radius: 40px;
  justify-content: center;
  font-weight: 400px;
  font-size: 17px;
  line-height: 35px;
  display: flex;
  align-items: center;
  background-color: #68bbbd;
  color: white;
}
.searchintbox .searchdiv .searchbox :hover {
  background-color: #68bbbd;
  color: white;
}
.searchintbox .searchdiv .searchbox .caintText {
  border-radius: 40px;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 0px;
  top: 0px;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #b1b1b1;
}
.searchintbox .searchdiv .searchbox :hover {
  color: white;
}

.hashaddiv {
  position: absolute;
  display: flex;
  width: 600px;
  height: 60px;
  top: -35px;
  left: 0px;
  flex-direction: row;
}
.hashaddiv .hashcheckdiv {
  position: relative;
  width: 120px;
  height: 70px;
  left: 0%;
  top: -15%;
  z-index: 5;
}
.hashaddiv .hashcheckdiv .hashcheckbox {
  position: absolute;
  width: 115px;
  height: 50px;
  margin-top: 12px;
  border: solid 1px white;
  font-size: 19px;
  display: flex;
  align-items: center;
  background: #68bbbd;
  border-radius: 30px;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.hashaddiv .hashcheckdiv :hover {
  background-color: #68bbbd;
  color: white;
}

.interestdiv {
  position: absolute;
  width: 550px;
  height: 310px;
  left: 100px;
  top: 150px;
  z-index: 20;
}
.interestdiv .interestbox {
  position: relative;
  width: 110px;
  height: 60px;
  padding-top: 20px;
  padding-left: 15px;
  margin-left: 5px;
  justify-content: center;
  float: left;
}
.interestdiv .interestbox .intBack {
  position: absolute;
  width: 120px;
  height: 50px;
  background: rgba(255, 255, 255, 0.886);
  border-radius: 40px;
  justify-content: center;
  font-weight: 400px;
  font-size: 20px;
  line-height: 35px;
  display: flex;
  align-items: center;
  border: solid 2px #5ebabb;
  color: #68bbbd;
  cursor: pointer;
}
.interestdiv .interestbox :hover {
  background-color: #68bbbd;
  color: white;
  border: solid white 2px;
}
.interestdiv .interestbox :hover .intText {
  position: absolute;
  width: 160px;
  height: 35px;
  left: 0px;
  top: 12px;
  justify-content: center;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #b1b1b1;
}

.hashEdit {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 255px;
  top: 500px;
  background: #50a1a3;
  border-radius: 17px;
  justify-content: center;
  font-weight: 400px;
  font-size: 25px;
  line-height: 35px;
  display: grid;
  align-items: center;
  cursor: pointer;
  color: white;
}

.hashSerchbar {
  position: absolute;
  width: 550px;
  top: 60px;
  z-index: 40;
  left: -3px;
  background-color: rgba(192, 192, 192, 0.951);
  color: #50a1a3;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: auto;
}
.hashSerchbar .ilserchbar {
  position: relative;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-left: 5.5px;
  float: left;
  cursor: pointer;
  background: rgba(4, 37, 37, 0.241);
  border-radius: 40px;
  font-size: 20px;
  line-height: 35px;
  color: #c8c7c7;
}
.hashSerchbar :hover {
  background-color: #68bbbd;
  color: white;
  border: solid white 2px;
}

.hashintdiv {
  position: absolute;
  width: 600px;
  height: 320px;
  left: 50px;
  top: 160px;
  z-index: 32;
  opacity: 0.98;
  border-radius: 40px;
}
.hashintdiv .cainterestdiv {
  position: absolute;
  width: 480px;
  height: 320px;
  left: 65px;
  top: 0px;
  overflow: auto;
}
.hashintdiv .cainterestdiv .cainterestbox {
  position: relative;
  width: 110px;
  height: 60px;
  padding-left: 5px;
  margin-left: 5px;
  justify-content: center;
  float: left;
}
.hashintdiv .cainterestdiv .cainterestbox .caintBack {
  position: absolute;
  width: 100px;
  height: 40px;
  background: rgba(255, 255, 255, 0.742);
  border-radius: 40px;
  justify-content: center;
  font-weight: 400px;
  font-size: 17px;
  line-height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #68bbbd;
}
.hashintdiv .cainterestdiv .cainterestbox .changecaintBack {
  position: absolute;
  width: 100px;
  height: 40px;
  background: rgba(13, 124, 124, 0.2);
  border-radius: 40px;
  justify-content: center;
  font-weight: 400px;
  font-size: 17px;
  line-height: 35px;
  display: flex;
  align-items: center;
  background-color: #68bbbd;
  color: white;
}
.hashintdiv .cainterestdiv .cainterestbox :hover {
  background-color: #68bbbd;
  color: white;
}
.hashintdiv .cainterestdiv .cainterestbox .caintText {
  border-radius: 40px;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 0px;
  top: 0px;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #b1b1b1;
}
.hashintdiv .cainterestdiv .cainterestbox :hover {
  color: white;
}

.custom-checkbox-style {
  position: absolute;
  opacity: 0;
  width: 100px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
}

.selected {
  background-color: #f2f2f2;
  color: #333;
}

.unselected {
  background-color: #333;
  color: #f2f2f2;
}

.searchContainer {
  position: absolute;
  top: 50px;
  left: 10px;
}

.simulSearch {
  position: absolute;
  top: -20px;
  left: 120px;
  width: 320px;
  height: 20px;
  background: rgba(255, 255, 255, 0.742);
  border-radius: 40px;
  justify-content: center;
  font-weight: 400px;
  font-size: 17px;
  line-height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #68bbbd;
}/*# sourceMappingURL=Hash.css.map */