// 공통 변수 설정

$_mainBgColor: 000;
$_mainColor: #000;
$_mainFont: "";
$_mainWidth: 00;
$_mainHeight: 00;

// mixin & include

/* 
  mixin name: sf
  arg: x
  desc: SubFrame css
*/
@mixin sf {
  box-sizing: border-box;

  position: absolute;
  right: 65px;
  left: 65px;
  top: 157px;
  bottom: 80px;

  background: rgba(255, 255, 255, 0.19);
  border: 0.751331px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3.00532px 3.00532px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  @content;
}

/* 
  mixin name: image
  arg: name, format
  desc: 인자(이미지이름, 파일포맷)받아 이미지 설정
*/
@mixin image($name, $path: "../assets/images/", $format) {
  background-image: url("#{$path}#{$name}.#{$format}");
  background-size: 100% 100%;
}

/* 
  mixin name: circle
  arg: size
  desc: 인자(size)를 받아 원을 만듦
*/
@mixin circle($size, $radius: 0) {
  width: $size;
  height: $size;

  @if radius != 0 {
    border-radius: $radius;
  }
}

@mixin inputdiv {
  position: absolute;
  width: 330px;
  height: 60px;
  left: 0px;
  top: 30px;

  background: rgba(104, 187, 189, 0.2);
  border-radius: 7px;

  .inputText {
    position: absolute;
    width: 290px;
    height: 22px;
    left: 20px;
    top: 18px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
  }
}

@mixin editModal {
  box-sizing: border-box;

  position: absolute;
  width: 1310px;
  height: 570px;
  left: 6.5%;
  top: 7%;
  z-index: 10;

  background: #ffffff;
  border: 0.751852px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3.00741px 3.00741px rgba(0, 0, 0, 0.25);
  border-radius: 30.0741px;
  z-index: 10;
  @content;
}
