::-webkit-scrollbar {
  display: none;
}

.SUModal {
  position: absolute;
  width: 453px;
  height: 706.5px;
  left: 493.5px;
  top: 30px;

  background: #ffffff;
  border-radius: 30px;
  z-index: 30;

  overflow-y: auto;
  overflow-x: hidden;

  .SUModalHeader {
    position: absolute;
    width: 453px;
    height: 75px;
    left: 0px;
    top: 0px;

    background: #e1f1f2;
    border-radius: 30px 30px 0px 0px;

    .SUModalHeaderText {
      position: absolute;
      height: 39px;
      left: 0px;
      right: 0px;
      top: 0px;

      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 39px;
      text-align: center;
      align-items: center;
      color: #50a1a3;
    }
  }

  .SUModalInputIdDiv {
    position: absolute;
    width: 330px;
    height: 87.75px;
    left: 66px;
    top: 107px;

    .SUModalInputIdLabel {
      position: absolute;
      width: 23px;
      height: 18px;
      left: 0px;
      top: 0px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #000000;
    }

    .SUModalInputId {
      position: absolute;
      width: 330px;
      height: 56.25px;
      left: 0px;
      top: 31.5px;

      background: #e1f1f2;
      border-radius: 7.5px;
      border: 0;
    }
  }

  .SUModalInputPwDiv {
    position: absolute;
    width: 330px;
    height: 86.25px;
    left: 65.25px;
    top: 215px;

    .SUModalInputPwLabel {
      position: absolute;
      width: 23px;
      height: 18px;
      left: 0.75px;
      top: 0px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #000000;
    }

    .SUModalInputPw {
      position: absolute;
      width: 330px;
      height: 56.25px;
      left: 0px;
      top: 30px;

      background: #e1f1f2;
      border-radius: 7.5px;
      border: 0;
    }
  }

  .SUModalInputPwChkDiv {
    position: absolute;
    width: 330px;
    height: 86.25px;
    left: 66.5px;
    top: 321.25px;

    .SUModalInputPwChkLabel {
      position: absolute;
      width: 72px;
      height: 18px;
      left: 0.75px;
      top: 0px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #000000;
    }

    .SUModalInputPwChk {
      position: absolute;
      width: 330px;
      height: 56.25px;
      left: 0px;
      top: 30px;

      background: #e1f1f2;
      border-radius: 7.5px;
      border: 0;
    }
  }

  .SUModalInputEmailDiv {
    position: absolute;
    width: 330px;
    height: 87.75px;
    left: 66.75px;
    top: 427.5px;

    .SUModalInputEmailLabel {
      position: absolute;
      width: 47px;
      height: 18px;
      left: 0px;
      top: 1.5px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #000000;
    }

    .SUModalInputEmail {
      position: absolute;
      width: 330px;
      height: 56.25px;
      left: 0px;
      top: 31.5px;

      background: #e1f1f2;
      border-radius: 10px;
      border: 0;
    }
  }

  .SUModalInputEmailConfirmDiv {
    position: absolute;
    width: 330px;
    height: 87.75px;
    left: 66.75px;
    top: 550px;

    .SUModalInputEmailConfirmLabel {
      position: absolute;
      width: 120px;
      height: 18px;
      left: 0px;
      top: 1.5px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #000000;
    }

    .SUModalInputEmailConfirm {
      position: absolute;
      width: 330px;
      height: 56.25px;
      left: 0px;
      top: 31.5px;

      background: #e1f1f2;
      border-radius: 10px;
      border: 0;
    }
  }

  .SUSignUpBtn {
    position: absolute;
    width: 330px;
    height: 56.25px;
    left: 66.75px;
    top: 670px;

    background: #50a1a3;
    border-radius: 10px;

    .SUBtnText {
      position: absolute;
      width: 70px;
      height: 18px;
      left: 135px;
      top: 19.5px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;

      color: #ffffff;
    }
  }

  .SUCancleBtn {
    position: absolute;
    width: 330px;
    height: 56.25px;
    left: 66px;
    top: 740px;

    background: #e1f1f2;
    border-radius: 10px;

    .SUCancleBtnText {
      position: absolute;
      width: 35px;
      height: 18px;
      left: 150.75px;
      top: 19.5px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;

      color: #50a1a3;
    }
  }

  .PlaceHolder {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 66px;
    top: 800px;
  }
}
