.SubFrame {
  box-sizing: border-box;

  position: absolute;
  right: 65px;

  left: 65px;
  top: 157.78px;
  bottom: 80px;

  background: rgba(255, 255, 255, 0.19);
  border: 0.751331px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3.00532px 3.00532px rgba(0, 0, 0, 0.25);
  border-radius: 30.0532px;

  .SubLeftDiv {
    position: absolute;
    width: 530.44px;
    height: 427.51px;
    left: 10%;
    top: 15%;

    .SubLeftTitle {
      position: absolute;
      width: 369px;
      height: 182px;
      left: 70px;
      top: 37.57px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 75.1331px;
      line-height: 91px;

      color: #ffffff;
    }
    .SubLeftDesc {
      /* SubLeftDesc */

      position: absolute;
      width: 376px;
      height: 36px;
      left: 70px;
      top: 222.75px;

      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 30.0532px;
      line-height: 36px;
      display: flex;
      align-items: center;

      color: #ffffff;
    }

    .CommBoxFrame1 {
      position: absolute;
      width: 525.93px;
      height: 90.16px;
      left: 0px;
      top: 337.35px;

      background: #50a1a3;
      box-shadow: 0px 3.00532px 3.00532px rgba(0, 0, 0, 0.25);
      border-radius: 15.0266px;

      .CommBoxFrameStart {
        position: absolute;
        width: 109px;
        height: 50px;
        left: 208.87px;
        top: 20.29px;

        font-family: "Happy Monkey";
        font-style: normal;
        font-weight: 400;
        font-size: 41.3232px;
        line-height: 50px;
        /* identical to box height */

        color: #ffffff;
      }
    }
  }

  .SubRightDiv {
    position: absolute;
    width: 563.5px;
    height: 428.26px;
    right: 10%;
    top: 17%;

    background: rgba(250, 234, 234, 0.2);
    border-radius: 30.0532px;

    .SubRightImg {
      position: absolute;
      width: 489.87px;
      height: 372.66px;
      right: 36px;
      top: 27.8px;

      background-image: url(../../assets/images/SubRightImg.jpg);
      background-size: 100% 100%;

      border-radius: 30.0532px;
    }
  }
}
