.MeetingNotIn {
  text-align: center;
  display: flex; /*내부 요소들이 차례로 배치 */
  justify-content: center; /*내부 요소의 좌우 정렬 상태를 가운데로 설정*/
  //   align-items: center; /*요소는 세로 중앙 배치*/
}

.DarkBlurDiv {
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0.5;
  z-index: 10;
  background-color: black;
}

.MCenterDiv {
  position: absolute;
  width: 327.75px;
  height: 465.75px;
  top: 148.5px;
  text-align: center;
  margin: auto;

  .MCenterImgDiv {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 14.25px;
    top: 0px;

    background-image: url(../../../assets/images/MPCenterImg.png);
    background-size: 100% 100%;
  }

  .MCenterTitle {
    position: absolute;
    height: 66px;
    left: 4.5px;
    right: 4.5px;
    top: 312.75px;

    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 66px;
    text-align: center;
    color: #50a1a3;
  }
  .MCenterDesc {
    position: absolute;
    height: 44px;
    left: 4.5px;
    right: 4.5px;
    top: 365px;

    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    color: #5c202c;
  }
  .MCenterCirclesDiv {
    position: absolute;
    width: 97.5px;
    height: 22.5px;
    left: 115.5px;
    top: 430px;

    .MPCenterCircle1 {
      position: absolute;
      width: 22.5px;
      height: 22.5px;
      left: 0px;
      top: 0px;

      background: #50a1a3;
      border-radius: 50px;

      animation: loading 2s 0s linear infinite; /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
    }
    .MPCenterCircle2 {
      position: absolute;
      width: 22.5px;
      height: 22.5px;
      left: 37.5px;
      top: 0px;

      background: #30ab70;
      border-radius: 50px;

      animation: loading 2s 0.3s linear infinite; /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
    }
    .MPCenterCircle3 {
      position: absolute;
      width: 22.5px;
      height: 22.5px;
      left: 75px;
      top: 0px;

      background: #ffcf53;
      border-radius: 50px;

      animation: loading 2s 0.6s linear infinite; /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
    }
  }
}

.MLeftDiv {
  position: absolute;
  width: 237.75px;
  height: 330px;
  left: 65px;
  bottom: 40px;
  z-index: 3;

  &__none {
    animation: moving 1s 0s linear forwards; /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
  }

  .MMyCamLabel {
    position: absolute;
    width: 103px;
    height: 33px;
    // left: 67.5px;
    left: 15px;
    top: 0px;

    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #5c202c;
  }

  .MMyCamDiv2 {
    &.noShow {
      display: none;
    }

    &.show {
      position: absolute;
      width: 237.75px;
      height: 286.5px;
      top: 33px;
      left: 0px;

      background-image: url(../../../assets/images/man4.jfif);
      background-size: 100% 100%;
      z-index: 3;
      border-radius: 30px;
    }
  }
  .MMyCamSubCamToggleBtn {
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    top: 7px;

    cursor: pointer;

    &.noShow {
      background-image: url(../../../assets/images/camOn.png);
      background-size: 100% 100%;
    }
    &.show {
      background-image: url(../../../assets/images/camOff.png);
      background-size: 100% 100%;
    }
  }
  .MMyCamSubMicBtn1 {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 160px;
    top: 5px;

    cursor: pointer;

    &.myMicOff {
      background-image: url(../../../assets/images/micOn.png);
      background-size: 100% 100%;
    }
    &.myMicOn {
      background-image: url(../../../assets/images/micOff.png);
      background-size: 100% 100%;
    }
  }
  .MMyCamDiv3 {
    &.noShow {
      display: none;
    }
    &.show {
      display: block;
      position: absolute;
      width: 237.75px;
      height: 286.5px;
      top: 33px;
      left: 0px;
      z-index: 1;
      border-radius: 30px;
    }
  }
}

.MStopBtnDiv {
  position: absolute;
  width: 95px;
  height: 52px;
  right: 65px;
  bottom: 40px;

  background: #fff;
  color: #50a1a3;
  border: 2px solid #50a1a3;
  border-radius: 10px;
  cursor: pointer;
  z-index: 11;

  &:hover {
    background-color: #50a1a3;
    color: #fff;
  }

  &__none {
    display: none;
    animation: moving 1s 0s linear forwards; /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
  }

  .MStopBtnText {
    position: absolute;
    width: 95px;
    left: 0px;
    top: 3px;
    bottom: 3px;

    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-transform: capitalize;
  }
}

/*
    keyframes : loading
    desc
    - 0%  : none
    - 50% : 투명도 1 && 원래의 크기 1.2배로 증가
    - 100%: 투명도 0 && 원래의 크기 0.5배로 감소
  */
@keyframes loading {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}
