@charset "UTF-8";
/* 
  mixin name: sf
  arg: x
  desc: SubFrame css
*/
/* 
  mixin name: image
  arg: name, format
  desc: 인자(이미지이름, 파일포맷)받아 이미지 설정
*/
/* 
  mixin name: circle
  arg: size
  desc: 인자(size)를 받아 원을 만듦
*/
.leftModal {
  position: relative;
  width: 430px;
  height: 570px;
  left: -2px;
  top: -1px;
  background: #50a1a3;
  border-radius: 30px;
  z-index: 20;
}
.leftModal .leftModalImg {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 110px;
  top: 50px;
  background-image: url(../../../assets/images/woman.jpg);
  background-size: 100% 100%;
  border-radius: 70%;
}
.leftModal .leftModalNameDiv {
  position: absolute;
  width: 180px;
  height: 40px;
  left: 0px;
  top: 0px;
  text-align: center;
}
.leftModal .leftModalNameDiv .leftModalName {
  position: absolute;
  width: 185px;
  height: 38px;
  left: 120px;
  top: 265px;
  font-weight: 400;
  font-size: 26.3148px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.leftModal .leftModalbtnDiv {
  position: absolute;
  width: 330px;
  height: 130px;
  left: 0px;
  top: 0px;
}
.leftModal .leftModalbtnDiv .leftModalEditbtn {
  position: absolute;
  width: 330px;
  height: 60px;
  left: 50px;
  top: 350px;
  background: #68bbbd;
  border-radius: 10px;
  cursor: pointer;
}
.leftModal .leftModalbtnDiv .leftModalEditbtn .leftModalProText {
  position: absolute;
  width: 125px;
  height: 27px;
  left: 105px;
  top: 15px;
  font-weight: 300px;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.92);
}
.leftModal .leftModalbtnDiv .leftModalSetbtn {
  position: absolute;
  width: 330px;
  height: 60px;
  left: 50px;
  top: 430px;
  text-align: center;
  background: #68bbbd;
  border-radius: 10px;
  font-weight: 400px;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.92);
  cursor: pointer;
}
.leftModal .leftModalbtnDiv .leftModalSetbtn .leftModalSetText {
  position: absolute;
  width: 80;
  height: 27px;
  left: 125px;
  top: 15px;
  font-weight: 300px;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.92);
}

.Modal {
  box-sizing: border-box;
  position: absolute;
  width: 1310px;
  height: 570px;
  left: 6.5%;
  top: 7%;
  z-index: 10;
  background: #ffffff;
  border: 0.751852px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3.00741px 3.00741px rgba(0, 0, 0, 0.25);
  border-radius: 30.0741px;
  z-index: 10;
}
.Modal .ModalOut {
  position: absolute;
  width: 155px;
  height: 55px;
  left: 1090px;
  top: 445px;
  z-index: 20;
  cursor: pointer;
  background: #68bbbd;
  border-radius: 7.51852px;
  justify-content: center;
}
.Modal .ModalOut .ModalOutText {
  position: absolute;
  width: 155px;
  height: 27px;
  left: -1px;
  top: 12px;
  justify-content: center;
  font-weight: 400;
  font-size: 22.5556px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.92);
}
.Modal .ProfileModal {
  position: absolute;
  width: 760px;
  height: 500px;
  left: 490px;
  top: 38px;
}
.Modal .ProfileModal .PMLabel {
  position: absolute;
  width: 200px;
  height: 45px;
  left: 0px;
  top: 0px;
  font-weight: 400px;
  font-size: 37px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #b2a5a5;
}
.Modal .ProfileModal .PMIdDiv {
  position: absolute;
  width: 330px;
  height: 90px;
  left: 0px;
  top: 70px;
}
.Modal .ProfileModal .PMIdDiv .PMIdLable {
  position: absolute;
  width: 330px;
  height: 20px;
  left: 0px;
  top: 0px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Modal .ProfileModal .PMIdDiv .PMIdInput {
  position: absolute;
  width: 330px;
  height: 60px;
  left: 0px;
  top: 30px;
  background: rgba(104, 187, 189, 0.2);
  border-radius: none;
}
.Modal .ProfileModal .PMAge {
  position: absolute;
  width: 330px;
  height: 90px;
  left: 0px;
  top: 170px;
}
.Modal .ProfileModal .PMAge .PMAgeLabel {
  position: absolute;
  width: 330px;
  height: 20px;
  left: 0px;
  top: 0px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Modal .ProfileModal .PMAge .PMAgeSelect {
  position: absolute;
  width: 330px;
  height: 60px;
  left: 0px;
  top: 30px;
  background: rgba(104, 187, 189, 0.2);
  border-radius: 7px;
}
.Modal .ProfileModal .PMMBTI {
  position: absolute;
  width: 330px;
  height: 90px;
  left: 0px;
  top: 270px;
}
.Modal .ProfileModal .PMMBTI .PMMBTILabel {
  position: absolute;
  width: 330px;
  height: 20px;
  left: 0px;
  top: 0px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Modal .ProfileModal .PMMBTI .PMMBTISelect {
  position: absolute;
  width: 330px;
  height: 60px;
  left: 0px;
  top: 30px;
  background: rgba(104, 187, 189, 0.2);
  border-radius: 7px;
}
.Modal .ProfileModal .PMMEmail {
  position: absolute;
  width: 330px;
  height: 90px;
  left: 0px;
  top: 370px;
}
.Modal .ProfileModal .PMMEmail .PMMEmailLabel {
  position: absolute;
  width: 330px;
  height: 20px;
  left: 0px;
  top: 0px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Modal .ProfileModal .PMMEmail .PMMEmailInput {
  position: absolute;
  width: 330px;
  height: 60px;
  left: 0px;
  top: 30px;
  background: rgba(104, 187, 189, 0.2);
  border-radius: 7px;
}
.Modal .ProfileModal .PMMGender {
  position: absolute;
  width: 330px;
  height: 90px;
  left: 430px;
  top: 70px;
}
.Modal .ProfileModal .PMMGender .PMMGenderLable {
  position: absolute;
  width: 330px;
  height: 20px;
  left: 0px;
  top: 0px;
  font-weight: 400px;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Modal .ProfileModal .PMMGender .PMMGenderdiv {
  position: absolute;
  width: 330px;
  height: 60px;
  left: 0px;
  top: 30px;
}
.Modal .ProfileModal .PMMGender .PMMGenderdiv .PMMGenderMale {
  position: absolute;
  width: 160px;
  height: 60px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  background: rgba(104, 187, 189, 0.2);
  border-radius: 7.51852px;
  justify-content: center;
  font-weight: 400;
  font-size: 22.5556px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
}
.Modal .ProfileModal .PMMGender .PMMGenderdiv :hover {
  background-color: #16888a;
}
.Modal .ProfileModal .PMMGender .PMMGenderdiv .PMMGenderFemale {
  position: absolute;
  width: 160px;
  height: 60px;
  left: 170px;
  top: 0px;
  cursor: pointer;
  background: rgba(104, 187, 189, 0.2);
  border-radius: 7px;
  justify-content: center;
  font-weight: 400;
  font-size: 22.5556px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
}
.Modal .ProfileModal .PMMGender .PMMGenderdiv :hover {
  background-color: #16888a;
}
.Modal .ProfileModal .PMMGender .PMIntroducing {
  position: absolute;
  width: 330px;
  height: 200px;
  left: 0px;
  top: 100px;
}
.Modal .ProfileModal .PMMGender .PMIntroducing .PMIntroducingLabel {
  position: absolute;
  width: 330px;
  height: 20px;
  left: 0px;
  top: 0px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Modal .ProfileModal .PMMGender .PMIntroducing .PMIntroducingInput {
  position: absolute;
  width: 330px;
  height: 170px;
  left: 0px;
  top: 30px;
  background: rgba(104, 187, 189, 0.2);
  border-radius: 7px;
}
.Modal .SettingModal {
  box-sizing: border-box;
  position: absolute;
  width: 1300px;
  height: 565px;
  left: 0px;
  top: 0px;
  z-index: 10;
  background: #ffffff;
  border-radius: 30.0741px;
}
.Modal .SettingModal .SetModal {
  position: absolute;
  width: 565px;
  height: 40px;
  left: 490px;
  top: 40px;
}
.Modal .SettingModal .SetModal .SEtLabel {
  position: absolute;
  width: 200px;
  height: 45px;
  left: 0px;
  top: 0px;
  font-weight: 400;
  font-size: 37px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #b2a5a5;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv {
  position: absolute;
  width: 565.5px;
  height: 280.5px;
  left: 0px;
  top: 98.25px;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox {
  position: absolute;
  width: 565px;
  height: 100px;
  left: 0px;
  top: 0px;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox .SetMidPartnerLable {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 0px;
  top: 20px;
  font-weight: 400px;
  font-size: 25px;
  line-height: 18px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #9b9a9a;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox .SetMMPartnerCheckdiv {
  display: flex;
  flex-direction: row;
  padding: 19.5px 0px;
  gap: 7.5px;
  position: absolute;
  width: 340px;
  height: 55px;
  left: 225px;
  font-weight: 400px;
  font-size: 26.25px;
  line-height: 32px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox .SetMMPartnerCheckdiv .blurdiv {
  background: rgba(104, 187, 189, 0.2);
  filter: blur(18.75px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 19.5px 0px;
  gap: 7.5px;
  position: absolute;
  width: 340px;
  height: 58px;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox .SetMMPartnerCheckdiv .SetMMPartnerCheck {
  position: absolute;
  width: 59px;
  height: 32px;
  left: 130px;
  top: 30px;
  font-weight: 400px;
  font-size: 26.25px;
  line-height: 32px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 20;
  color: #50a1a3;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox2 {
  position: absolute;
  width: 565.5px;
  height: 100px;
  left: 0px;
  top: 120px;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox2 .SetMidPartnerLable {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 0px;
  top: 20px;
  font-weight: 400px;
  font-size: 25px;
  line-height: 18px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #9b9a9a;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox2 .SetMMPartnerCheckdiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 19.5px 0px;
  gap: 7.5px;
  position: absolute;
  width: 340px;
  height: 58px;
  left: 225px;
  top: 0px;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox2 .SetMMPartnerCheckdiv .blurdiv {
  background: rgba(104, 187, 189, 0.2);
  filter: blur(18.75px);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 19.5px 0px;
  gap: 7.5px;
  position: absolute;
  width: 340px;
  height: 58px;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox2 .SetMMPartnerCheckdiv .SetMMPartnerCheck {
  position: absolute;
  width: 59px;
  height: 32px;
  left: 130px;
  top: 20.5px;
  font-weight: 400px;
  font-size: 26.25px;
  line-height: 32px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 50;
  color: #50a1a3;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox3 {
  position: absolute;
  width: 565.5px;
  height: 100px;
  left: 0px;
  top: 240px;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox3 .SetMidPartnerLable {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 0px;
  top: 20.25px;
  font-weight: 400px;
  font-size: 25px;
  line-height: 18px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #9b9a9a;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox3 .SetMMPartnerCheckdiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 19.5px 0px;
  gap: 7.5px;
  position: absolute;
  width: 340.5px;
  height: 58.5px;
  left: 225px;
  top: 0px;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox3 .SetMMPartnerCheckdiv .blurdiv {
  background: rgba(104, 187, 189, 0.2);
  filter: blur(18.75px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 19.5px 0px;
  gap: 7.5px;
  position: absolute;
  width: 340px;
  height: 58px;
}
.Modal .SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox3 .SetMMPartnerCheckdiv .distancePartner {
  position: absolute;
  width: 59px;
  height: 32px;
  left: 130px;
  top: 20.5px;
  font-weight: 400px;
  font-size: 26.25px;
  line-height: 32px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #50a1a3;
}

button {
  border: none;
}

input {
  border: none;
}

.btn {
  position: relative;
  width: 160px;
  height: 60px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  background: rgba(104, 187, 189, 0.2);
  border-radius: 7px;
  justify-content: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  float: left;
  margin-right: 10px;
  color: black;
}

.btn.active {
  color: #fff;
  background-color: #16888a;
}

.-btn {
  position: relative;
  width: 160px;
  height: 60px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  background: rgba(104, 187, 189, 0.2);
  border-radius: 7px;
  justify-content: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
}

.-btn.active {
  /* background-color: #505bf0; */
  color: #fff;
  background-color: #16888a;
}/*# sourceMappingURL=myInfoModal.css.map */